<!DOCTYPE html>

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>

    <body>
        <div id="wrapper">
            <div id="app">
                @RenderBody()
            </div>
        </div>

        <script src="~/dist/main.js"></script>
    </body>
</html>