* {
    padding: 0;
    margin: 0;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/images/backgorund-dark.png');
    color: white;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 128px;
    width: 100vw;
    background-image: url('/images/backgorund-light.png');
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    line-height: 128px;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 64px;
    width: 100vw;
    background-image: url('/images/backgorund-light.png');
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
}

#content {
    padding: 160px 64px 96px;
}

.server-list-container {
    max-width: 640px;
    margin: -32px auto;
    padding: 0 32px 32px 32px;
    height: calc(100vh - 224px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* CHAT STYLES */
.chat {
    display: inline-block;
    text-align: center;
    max-width: 250px;
    padding: 2px;
}

.server .description {
    text-align: center;
}

.chat .bold {
    font-weight: bold;
}

.chat .italic {
    font-style:initial;
}

.chat .underline {
    text-decoration: underline;
}

.chat .strikethrough {
    text-decoration: line-through;
}

.chat .black {
    color: black;
}

.chat .dark_blue {
    color: #0000aa;
}

.chat .dark_green {
    color: #00aa00;
}

.chat .dark_aqua {
    color: #00aaaa;
}

.chat .dark_red {
    color: #aa0000;
}
.chat .dark_purple {
    color: #aa00aa;
}

.chat .gold {
    color: #ffaa00;
}

.chat .gray {
    color: #aaaaaa;
}

.chat .dark_gray {
    color: #555555;
}

.chat .blue {
    color: #5555ff;
}

.chat .green {
    color: #55ff55;
}

.chat .aqua {
    color: #55ffff;
}

.chat .red {
    color: #ff5555;
}

.chat .light_purple {
    color: #ff55ff;
}

.chat .yellow {
    color: #ffff55;
}

.chat .white {
    color: #ffffff;
}

/* SERVER STYLES */
.server {
    margin-top: 32px;
}

.server-data-section {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
}

.server .state {
    width: 64px;
    margin-top: 8px;
}

.server .overview {
    width: calc(100% - 160px);
    padding: 0 16px;
}

.server .meta {
    width: 64px;
    white-space: nowrap;
}

.server .meta span {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 10px;
}

.icon-container {
    position: relative;
    width: 64px;
    height: 64px;
}

.icon-container img {
    position: absolute;
    top: 0;
    left: 0;
}

.address {
    font-size: 22px;
}

.server:hover .icon {
    filter: grayscale(1.0);
}

.server:hover .icon-container .icon-overlay {
    display: block;
}
.server .icon-container .icon-overlay {
    display: none;
}

.server .status {
    display: block;
    width: 13px;
    height: 13px;
    background: yellow;
    position: absolute;
    top: -4px;
    left: -24px;
    border-radius: 50%;
}

.server .status.online {
    background: green;
}
.server .status.offline {
    background: red;
}
.server .status.loading {
    background: yellow!important;
}

/* LOADING ANIMATION */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
